.slider h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.slider svg:not(:root) {
    overflow: hidden;
}

.slider ::selection {
    background-color: grey;
    color: white;
}

.slider ::-moz-selection {
    background-color: grey;
    color: white;
}

.slider main {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider #slider {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.slider #slider canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.slider #slider img {
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 0;
}

.slider .slider-inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1060px;
    height: 100%;
    margin: 0 auto;
    z-index: 5;
}

.slider #slider-content {
    padding: 0 10px;
}
.slider #slider-content h2 {
    font-family: "acta-display", serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -1px;
    color: white;
    line-height: 30px;
    margin: 20px 0 60px;
}
@media screen and (min-width: 800px) {
    .slider #slider-content h2 {
        font-size: 110px;
        line-height: 100px;
    }
}
.slider #slider-content span {
    display: none;
}
.slider #slider-content .meta {
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    letter-spacing: 5px;
    color: #88888a;
    text-transform: uppercase;
    position: relative;
}
@media screen and (min-width: 800px) {
    .slider #slider-content .meta {
        font-size: 13px;
    }
}
.slider #slider-content .meta:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: -55px;
    width: 45px;
    height: 2px;
    background-color: #393d40;
}
.slider #slider-content #slide-status {
    margin-top: 10px;
    font-family: "acta-display", serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
@media screen and (min-width: 800px) {
    .slider #slider-content #slide-status {
        font-size: 34px;
    }
}

.slider #pagination {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    z-index: 6;
}
.slider #pagination button {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border-radius: 100%;
    padding: 0;
    margin: 30px 0;
    cursor: pointer;
    position: relative;
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
    outline: none;
}
.slider #pagination button:hover {
    opacity: 0.5;
}
.slider #pagination button.active {
    opacity: 1;
}
.slider #pagination button.active:before {
    width: 300%;
    height: 300%;
    opacity: 1;
}
.slider #pagination button:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

/* Page Loader */
.slider .loading:before {
    content: "";
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
.slider .loading:after {
    content: "";
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.4;
    background: white;
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}